<p>Восстановление пароля: <%= @resource.email %>!</p>

<p>Перейдите по ссылке</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если это были не вы, ничего не делайте, удалите письмо.</p>

